.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links-logo {
    margin-right: 2rem;
}

.navbar-links-logo img {
    width: 42px;
    height: 36px;
}

.navbar-links-container {
    display: flex;
    flex-direction: row;
}

.navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar-links-container p,
.navbar-sign p,
.navbar-menu-container p
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}  

.navbar-sign button,
.navbar-menu_container button {
      padding: 0.5rem 1rem;
      color: #fff;
      background: #FF4820;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      border: none;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
  }
  
  .navbar-menu {
      margin-left: 1rem;
      display: none;
      position: relative;
  }
  
  /* for navbar mobile screen react icon */
  .navbar-menu svg {
      cursor: pointer;
  }
  
  .navbar-menu-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      
      text-align: end;
      background: var(--color-footer);
      padding: 2rem;
      position: absolute;
      right: 0;
      top: 40px;
      margin-top: 1rem;
      min-width: 210px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
  }
  
  .navbar-menu-container p {
      margin: 1rem 0;
  }
  
  .navbar-menu-container-links-sign {
      display: none;
  }
  
  .rotate-center{-webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both}

  
   @-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}
  
  @media screen and (max-width: 1050px) {
      .navbar-links-container {
          display: none;
      }
  
      .navbar-menu {
          display: flex;
      }
  }
  
  @media screen and (max-width: 700px) {
      .navbar {
          padding: 2rem 4rem;
      }
  }
  
  @media screen and (max-width: 550px) {
      .navbar {
          padding: 2rem;
      }
  
      .navbar-sign {
          display: none;
      }
  
      .navbar-menu-container {
          top: 20px;
      }
  
      .navbar-menu-container-links-sign {
          display: block;
      }
    }